@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

/*
'Shadows Into Light', cursive
*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}

#spantext {
    color: yellow;
}

.navi {
    float: right;
}

.exc {
    color: yellow;
}

#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}

li {
    display: inline;
    margin-right: 20px;
}

.h-buttons {
    margin-top: 90px;
    margin-bottom: 100px;
}

.h-buttons button {
    border-radius: 40px;
    color: black;
}

.menu-btn {
    border-radius: 20px;
    margin-top: 20px;
    color: #000;
}

figcaption {
    font-family: 'Oswald', serif;
}

#menu {
    padding-top: 20px;
}

#order-pizza {
    color: #000;
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}

.order-summary h1, .summary, .contact {
    color: #000;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 30px;
}

.contacts {
    background-image: url("../images/sec/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}

input[type="email"] {
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
}